<div class="container mt-5">
    <div class="card">
      <div class="card-header">
        All Employees
      </div>
      <div class="card-body">
        <section class="m-2">
            <label>Employee name to search:</label>
            <input type="text" value="" #employeeName (keyup)="searchEmployees(employeeName.value)">
        </section>
        <app-employee-card [employees]="employees" (childEvent)="deleteEmployee($event)" (deleteEvent)="editEmployee($event)"></app-employee-card>
        
        <div *ngIf="employees.length === 0" class="alert alert-info">
          No employees found.
        </div>
      </div>
    </div>
</div>