<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 pt-5 pb-5">
            <div class="card">
                <div class="card-header">Edit Employee</div>

                <div class="card-body">

                    <div class="container mt-5">
                        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
                        <div class="form-group mb-3">
                            <label for="name">Name</label>
                            <input id="name" type="text" class="form-control" formControlName="emp_name" [ngClass]="{'is-invalid': employeeForm.get('name')?.invalid && employeeForm.get('name')?.touched}">
                            <div class="invalid-feedback">
                            Name is required.
                            </div>
                        </div>
                    
                        <div class="form-group mb-3">
                            <label for="email">Email</label>
                            <input id="email" type="email" class="form-control" formControlName="emp_email" [ngClass]="{'is-invalid': employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched}">
                            <div class="invalid-feedback">
                            Please enter a valid email.
                            </div>
                        </div>
                    
                        <div class="form-group mb-3">
                            <label for="salary">Salary</label>
                            <input id="salary" type="text" class="form-control" formControlName="emp_salary" [ngClass]="{'is-invalid': employeeForm.get('salary')?.invalid && employeeForm.get('salary')?.touched}">
                            <div class="invalid-feedback">
                            Salary is required.
                            </div>
                        </div>
                    
                        <div class="form-group mb-3">
                            <label for="experience">Experience</label>
                            <input id="experience" type="text" class="form-control" formControlName="experience" [ngClass]="{'is-invalid': employeeForm.get('experience')?.invalid && employeeForm.get('experience')?.touched}">
                            <div class="invalid-feedback">
                            Experience is required.
                            </div>
                        </div>
                    
                        <div class="form-group mb-3">
                            <label for="dept_code">Dept Code</label>
                            <input id="dept_code" type="text" class="form-control" formControlName="dept_code" [ngClass]="{'is-invalid': employeeForm.get('dept_code')?.invalid && employeeForm.get('dept_code')?.touched}">
                            <div class="invalid-feedback">
                            Dept Code is required.
                            </div>
                        </div>
                    
                        <div class="form-group mb-3">
                            <label for="joining_date">Joining Date</label>
                            <input id="joining_date" type="datepicker" class="form-control" formControlName="joining_date" [ngClass]="{'is-invalid': employeeForm.get('joining_date')?.invalid && employeeForm.get('joining_date')?.touched}">
                            <div class="invalid-feedback">
                            Joining Date is required.
                            </div>
                        </div>
                    
                        <div class="form-group mb-3">
                            <label for="secrete_code">Secret Code</label>
                            <input id="secrete_code" type="password" class="form-control" formControlName="secrete_code" [ngClass]="{'is-invalid': employeeForm.get('secrete_code')?.invalid && employeeForm.get('secrete_code')?.touched}">
                            <div class="invalid-feedback">
                            Secret Code is required.
                            </div>
                        </div>
                    
                        <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  